<template>
    <div>
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn col">Total Users: <span class="badge badge-primary">{{ count }}</span></button>
                <button class="btn col">Total Repositories: <span class="badge badge-secondary">{{ repositoriesCount }}</span></button>
                <button class="btn col">Total Followers: <span class="badge badge-info">{{ followersCount }}</span></button>
            </div>
        </div>
        <br />
        <div class="row" >
            <br>
            <git-user v-for="(user, key) in users" :user="user" :key="user.id" ></git-user>
        </div>
    </div>
</template>

<script>
import GitUser from './GitUser.vue';
import { mapGetters } from 'vuex';

export default {
    computed: mapGetters({ 
        count: 'usersCount', 
        users: 'users',
        repositoriesCount: 'repositoriesCount',
        followersCount: 'followersCount'
    }),
    components: {
        GitUser
    }
}
</script>
<style>
</style>