<template>
  <div class="card" style="width: 16rem;">
    <img class="card-img-top" v-bind:src="user['avatar_url']" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{ user.name }}</h4>
      <span class="badge badge-pill badge-primary">Repositories: {{ user["public_repos"] }}</span>
      <!-- <span class="badge badge-pill badge-secondary">Stars: {{ user["public_repos"] }}</span> -->
      <br>      
      <span class="badge badge-pill badge-success">Following: {{ user["following"] }}</span>
      <span class="badge badge-pill badge-danger">Followers: {{ user["followers"] }}</span>
      <br>      
      <br>      
      <a :href="user['html_url']" target="blank" class="btn btn-dark">Github</a>
    </div>
  </div>
</template>
<script>
export default {
  props: ['user'],
  methods: {}
}
</script>