<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Github Users</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <input v-model.lazy="username" @keyup.enter="getUser"  />
        <a href="#" @click="getUser" class="btn btn-outline-dark">procurar</a>
      </div>
      <br />
      <div class="row">
        <git-user-list></git-user-list>
      </div>
    </div> 
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import GitUserList from './components/GitUserList.vue';
import * as types from './store/mutation-types.js';

export default {
  components: {
    GitUserList
  },
  computed: {
    username: {
      get() {
        return this.$store.state.usernameSearch;
      },
      set(value) {
        this.$store.commit(types.UPDATE_USERNAME_SEARCHED, value)
      }
    }
  },
  methods: mapActions(['getUser'])
}
</script>

<style>
  .btn {
    margin-left: 10px;
  }
</style>